name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      # Note, if ubuntu-latest changes to a different release, we will need to
      # swap `focal` below to what that new name is for that release.
      RSPM: "https://packagemanager.rstudio.com/all/__linux__/focal/latest"
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout benchmarks
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
      - name: Setup R
        uses: r-lib/actions/setup-r@v1
      - name: Lint (black)
        uses: psf/black@stable
        with:
          options: --check --diff
          src: .
      - name: Install Python dependencies
        run: |
          python setup.py develop
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
          pip install https://github.com/ursacomputing/conbench/archive/main.zip
          pip install coveralls
      - name: Lint (flake8)
        run: |
          flake8
      - name: Lint (isort)
        run: |
          isort --check .
      - name: Install libcurl (for R arrow)
        run: |
          sudo apt-get -y install libssl-dev libcurl4-openssl-dev
      - name: Install R dependencies
        run: |
          install.packages('remotes')
          install.packages('arrow', repos = c('https://arrow-r-nightly.s3.amazonaws.com', getOption('repos')))
          remotes::install_github('voltrondata-labs/arrowbench')
        shell: Rscript {0}
        env:
          LIBARROW_BINARY: TRUE
      - name: Run tests
        run: |
          coverage run --source benchmarks -m pytest -v --durations=20 benchmarks/tests/
      - name: Publish coverage
        run: |
          coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
